// all style

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-family: $font-style;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
    text-decoration: none;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}


// flex

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}


// spacing

.pt-12 {
    padding-top: 12px;
}
.pt-13 {
    padding-top: 13px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-96 {
    padding-top: 96px;
}
.pb-12 {
    padding-bottom: 12px;
}
.pb-13 {
    padding-bottom: 13px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pl-12 {
    padding-left: 12px;
}
.pl-13 {
    padding-left: 13px;
}
.pl-16 {
    padding-left: 16px;
}
.pr-12 {
    padding-right: 12px;
}
.pr-13 {
    padding-right: 13px;
}
.pr-16 {
    padding-right: 16px;
}
.mt-16 {
    margin-top: 16px;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mr-48 {
    margin-right: 48px;
}


// text

.text-center {
    text-align: center;
}
.text-20 {
    font-size: 20px;
}
.text-24 {
    font-size: 24px;
}
.text-32 {
    font-size: 32px;
}
.text-36 {
    font-size: 36px;
}
.text-48 {
    font-size: 48px;
}
.text-red {
    color: $main-color-red;
}
.text-white {
    color: $main-color-white;
}
.fw-medium {
    font-weight: 500;
}
.fw-bold {
    font-weight: 700;
}
.fw-black {
    font-weight: 900;
}


// others

.border-start {
    border-left: 1px solid #555555;
}