// mixin 和 全域變數

// font
$font-style: 'Noto Sans TC', sans-serif;
$font-style-sub: 'Roboto', sans-serif;


// colors
$main-color-red: #AA0601;
$main-color-black: #000000;
$main-color-white: #FFFFFF;
$main-color-pink: #FBF2F2;
$main-color-darkRed: #650300;
$sub-color-red: #9F1213;
$sub-color-gray: #555555;

// mixin

@mixin tablet {
    @media(max-width: 992px) {
      @content;
    }
}
@mixin mobile {
    @media(max-width: 767px) {
        @content;
    }
}

@mixin hide-text {
    text-indent:101%; /* 首行縮排 */
    overflow:hidden; /* 自動隱藏超出的文字或圖片 */
    white-space:nowrap; /* 希望元素在第一排上面，沒有斷行 */
}

@mixin nav-link-hover {
    transform: scale(1.2);
    transition: 0.3s;
}